.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.left {
  width: 360px;
  margin-right: 24px;
}

.right {
  flex: 1;
}

.avatarHolder {
  text-align: center;
  margin-bottom: 24px;
}

.avatar {
  width: 104px;
  height: 104px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.username {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.bio {
  color: rgba(0, 0, 0, 0.45);
}

.detail {
  p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 26px;
  }

  i {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
  }
}

.tags {
  .tagsTitle {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}

.team {
  .teamTitle {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}

.tabsCard {
  :global(.ant-card-head) {
    padding: 0 16px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
