.actionItem {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.actionItem:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

.icon {
    font-size: 16px;
    padding: 4px;
}

/* Modal Content Styling */
.searchModal :global(.ant-modal-content) {
    padding: 0 !important;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
}

.searchSelect {
    width: 100%;
}

.searchSelect :global(.ant-select-selector) {
    height: 60px !important;
    display: flex;
    align-items: center;
    padding: 0 24px !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 18px;
}

.searchSelect :global(.ant-select-selection-search) {
    padding-left: 12px !important;
    /* Adjust for icon if needed */
}

.searchSelect :global(.ant-select-selection-placeholder) {
    padding-left: 12px !important;
    font-size: 18px;
    color: #bfbfbf;
}

.searchSelect :global(.ant-select-selection-search-input) {
    height: 60px !important;
}

/* Customizing request to not show dropdown arrow */
.searchSelect :global(.ant-select-arrow) {
    display: none;
}